@charset "UTF-8";

/* ----------------------------------------------------------
  Note
---------------------------------------------------------- */

.wpu-comment-note__wrapper {
    z-index: 1;
    position: relative;
}

.wpu-comment-note {
    display: inline-block;
    z-index: 1;
    position: relative;
    height: 1em;
    line-height: 1;
    white-space: nowrap;
}

.wpu-comment-note__metas {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -999vw;
}

.wpu-comment-note__val {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
